<div class="row">
  <div class="col-12 d-flex justify-content-center">
    <h1 class="display-3">What is AnimeDoro?</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        AnimeDoro is a time management technique similar to the pomodoro
        technique. In the pomodoro method, the work cycle is broken up into 25
        minute chunks of work separated by 5 minute breaks. Each of these cycles
        is considered 1 pomodoro. After 4 pomodoros, a break of 20-25 minute is
        taken. With AnimeDoro, instead of short work periods and short breaks,
        the work cycle is broken up into 1 hr work chunks with a longer 20
        minute break. With the longer break time, users of this technique can do
        other things to relax themselves, such as watching an episode of anime.
        Why AnimeDoro Use AnimeDoro if you love anime, but have to still get
        things done. With AnimeDoro, you can get all your work done while also
        watching all the anime you enjoy. This website will help you time your
        work and break sessions and keep track of all the AnimeDoro cycles.
      </p>
    </div>
  </div>
</div>
