<div class="bg-light view-height-100">
  <div class="container-fluid ">
    <div class="row">
      <div class="d-flex col-12 justify-content-center">
        <h1 class="display-1">AnimeDoro</h1>
      </div>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
            <a class="nav-link" routerLink="/about" routerLinkActive="active"
              >About</a
            >
            <a class="nav-link" routerLink="/account" routerLinkActive="active"
              >Account</a
            >
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
