<div class="container">
  <div class="row">
    <div class="col-12 offset-md-3">
      <h1>Timer placeholder</h1>
      <!-- template for imported countdown module -->
      <countdown #cd [config]="countDownOptions"></countdown>
    </div>
  </div>

  <div class="row">
    <!-- timer controls -->
    <div class="col-sm-12 col-md-5">
      <p>Controls</p>
      <div class="row">
        <div class="col-4">
          <button
            type="button"
            class="btn btn-danger w-100"
            (click)="stopTimer()"
          >
            End
          </button>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-warning w-100"
            (click)="pauseTimer()"
          >
            Pause
          </button>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-primary w-100"
            (click)="resumeTimer()"
          >
            Resume
          </button>
        </div>
        <!-- minute input -->
        <div class="col-12 mt-2">
          <span class="d-block mb-2">
            <label for="formControlRange">Minutes: {{ sliderTime }}</label>
          </span>

          <input
            type="range"
            min="1"
            max="60"
            class="form-control-range w-100"
            id="formControlRange"
            [(ngModel)]="sliderTime"
            [disabled]="isCounting"
          />
        </div>

        <!-- start button -->
        <div class="col-12 mt-2">
          <button
            type="button"
            class="btn btn-success btn-block w-100"
            (click)="startTimer()"
          >
            Start
          </button>
        </div>
      </div>
    </div>

    <!-- productivity logs -->
    <div class="col-sm-12 col-md-7" >
      
      logs place holder
    <div *ngFor="let log of workLogs; let i = index">
<p>{{i + 1}}. Date: {{log.date | date}} session length: {{log.timeLength | timePipe}}</p>
    </div >
    </div>
  </div>

  <!-- productivty overview -->

  <div class="col-12">productivity board placeholder</div>
</div>
